p {
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  min-height: 80px;
}

.example-card {
  background-color: transparent;
}
.example-card p {
  margin: 0;
}
.example-card {
  display: inline-block;
  vertical-align: top;
  margin: 15px;
  padding: 28px;
  background-color: #f7f7f7;
  width: 48%;
}

.example-card-content p {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .example-card {
    float: none;
    width: 80%;
  }
}